*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 55em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 28em) {
  html {
    font-size: 40%;
  }
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(20, 133, 204, 0.8)), to(rgba(10, 67, 102, 0.8))), url(../img/bg.jpg);
  background-image: linear-gradient(to right, rgba(20, 133, 204, 0.8), rgba(10, 67, 102, 0.8)), url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: #1485CC;
  padding: 1rem 2rem;
  min-height: 6rem;
  border-radius: 15px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  min-width: 20rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #4ca9e4;
  -webkit-transform: translate(0, -0.1rem);
          transform: translate(0, -0.1rem);
}

.btn:focus {
  outline: none;
}

.btn:active {
  -webkit-transform: translate(0, 0rem);
          transform: translate(0, 0rem);
}

.btn-new {
  position: absolute;
  top: 0rem;
  margin: 2rem 0;
  height: 4rem;
  font-size: 3rem;
  font-weight: 700;
  z-index: 2;
}

.btn-roll {
  margin: 1.2rem 0 1.2rem 0;
}

@media screen and (max-width: 47.5em) {
  .btn-roll {
    width: 15rem;
  }
}

.btn-add {
  margin: 1.2rem 0 1.2rem 0;
}

@media screen and (max-width: 47.5em) {
  .btn-add {
    width: 15rem;
  }
}

.game-container {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 47.5em) {
  .game-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player {
  min-width: 20vw;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  text-align: center;
  margin: 2rem;
  position: relative;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.26);
}

.active {
  border: 1rem solid #C43A3A;
  background-color: #fff;
}

.winner {
  border: 1rem solid #1eff00;
  background-color: #fff;
}

.player-name {
  font-size: 3rem;
  color: #707070;
  text-transform: uppercase;
  margin: 2rem;
}

.player-score {
  font-size: 9rem;
  color: #C43A3A;
}

.player-round-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10rem;
  bottom: -1rem;
  right: -5rem;
  background-color: #C43A3A;
  min-width: 10rem;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.26);
}

.player-round-label {
  color: #fff;
  font-size: 2rem;
  margin-bottom: .5rem;
  line-height: 3rem;
}

.player-round-score {
  color: #fff;
  font-size: 4rem;
  line-height: 100%;
}

.gameicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 47.5em) {
  .gameicons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.gameicons__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 47.5em) {
  .gameicons__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2rem;
  }
}

.dice {
  width: 23rem;
  margin: 2rem 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

@media screen and (max-width: 47.5em) {
  .dice {
    width: 13rem;
  }
}

.hidden {
  opacity: 0;
}

.icon {
  width: 2rem;
  margin-top: .2rem;
}

.fas {
  margin-right: 1.2rem;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}
/*# sourceMappingURL=main.css.map */